name: Makefile CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Run tests
      run: make test

    - name: Train AI
      run: make train

    - name: Package
      run: make package

    - name: Create docsite
      id: adocbuild
      uses: tonynv/asciidoctor-action@master
      with:
        program: "asciidoctor -D docs --backend=html5 -o site/index.html docs/index.adoc"

    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./site
      if: github.ref == 'refs/heads/main'